<div>
  <mat-toolbar
    class="container"
    fxLayout="row"
    fxLayoutAlign="space-between">
    <a href="#"><img
      fxLayoutAlign="center center"
      class="imgLogo"
      src="assets/imgs/Chattylogo.png"
      alt="ChattyLogo"
      routerLink="/"></a>
    <div
      fxLayout="row"
      fxLayoutAlign="end center">
      <img
        fxLayoutAlign="center center"
        class="avatarLogo"
        src="{{ avatarUrl }}"
        alt="AvatarLogo"
        *ngIf="avatarUrl">
    </div>
  </mat-toolbar>
</div>

