<div>
  <mat-toolbar
    class="container"
    fxLayout="row"
    fxLayoutAlign="space-between">
    <a href="#"><img
      fxLayoutAlign="center center"
      class="imgLogo"
      src="assets/imgs/Chattylogo.png"
      alt="ChattyLogo"
      routerLink="/"></a>
    <div
      fxLayout="row"
      fxLayoutAlign="end center">
      <img
        fxLayoutAlign="center center"
        class="avatarLogo headerAvatar"
        src="{{ avatarUrl }}"
        alt="AvatarLogo"
        *ngIf="avatarUrl"
        routerLink="edit">
      <button
        mat-raised-button
        color="primary"
        *ngIf="avatarUrl"
        (click)="onLogout()"
        class="logoutBtn">Logout</button>
    </div>
  </mat-toolbar>
</div>

