// Name Input
.nameInput {
  width: 40%;
  text-align: center;
  font-size: 40px;
}

// Avatars
.avatars {
  width: 54%;
}

.unselected {
  border: 1px solid black;
  margin: 5px;
  border-radius: 1000px;
}

// Login
.loginBtn {
  width: 30%;
  background-color: #35B7AE;
}

.login {
  width: 100%;
}

.selected {
  border: 5px solid #008dd7;
  margin: 5px;
  border-radius: 1000px;
}
