
// Avatars
.avatars {
  width: 51%;
}

.avatar {
  width: 30px;
  height: 30px;
}

.unselected {
  border: 1px solid black;
  margin: 5px;
  border-radius: 1000px;
}

// Login and create button
.loginBtn, .createBtn {
  width: 200px;
  background-color: #35B7AE;
}

.login {
  flex: 1;
  margin: 5% 5% 5% 15%;
}

.create {
  flex: 1;
  margin: 5% 5% 5% 15%;
}

.selected {
  border: 2px solid #008dd7;
  margin: 5px;
  border-radius: 1000px;
}


