<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center">
  <div
    class="login">
    <form
      fxLayoutAlign="center center"
      fxLayout="column">
      <mat-form-field
        class="nameInput">
        <input #username
               type="text"
               matInput
               class="nameInput"
               placeholder="Enter Name...">
      </mat-form-field>
      <div
        class="avatars"
        fxLayout="row wrap">
        <!--
        Runs foreach loop on igmUrls array and gets index on each.
        Binds index to selected variable and uses selected variable to determines which image is selected.
        -->
        <img
          *ngFor="let imgUrl of imgUrls"
          (click)="selected = imgUrls.indexOf(imgUrl)"
          [ngClass]="selected === imgUrls.indexOf(imgUrl) ? 'selected' : 'unselected'"
          src="{{imgUrl}}">
      </div>
      <div
        class="login"
        fxLayoutAlign="center">
        <button
          mat-raised-button
          color="primary"
          class="loginBtn"
          (click)="onSubmit(username.value)">LOGIN
        </button>
      </div>
    </form>
  </div>
</div>
