<div
  class="container"
  fxLayout="row"
  fxLayoutAlign="center center">
  <div
    class="login"
    fxLayout="end center">
    <form
      fxLayoutAlign="center center"
      fxLayout="column">
      <h1>Login here</h1>
      <mat-form-field
        class="nameInputLogin">
        <input #email
               type="text"
               matInput
               class="nameInput"
               placeholder="Enter E-mail...">
      </mat-form-field>
      <mat-form-field>
        <input #passwordLogin
          class="passInputLogin"
          matInput placeholder="Enter your password"
          [type]="hide ? 'text' : 'password'">
        <mat-icon matSuffix (click)="hide = !hide">
          {{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
      </mat-form-field>
      <div
        class="login"
        fxLayoutAlign="center center">
        <button
          mat-raised-button
          color="primary"
          class="loginBtn"
          (click)="onSubmitLogin(email.value, passwordLogin.value)">LOGIN
        </button>
      </div>
    </form>
  </div>


  <hr
    fxLayoutAlign="center center"
    width="1"
    size="500">

  <div
    class="create"
    fxLayoutAlign="start">
    <form
      fxLayoutAlign="center center"
      fxLayout="column">
      <h1>Create User Here</h1>
      <a>Choose Avatar</a>
      <div
        class="avatars"
        fxLayout="row wrap"
        fxLayoutAlign="start center">
        <!--
        Runs foreach loop on imgUrls array and gets index on each.
        Binds index to selected variable and uses selected variable to determines which image is selected.
        -->
        <img
          class="avatar"
          *ngFor="let imgUrl of imgUrls"
          (click)="selected = imgUrls.indexOf(imgUrl)"
          [ngClass]="selected === imgUrls.indexOf(imgUrl) ? 'selected' : 'unselected'"
          src="{{imgUrl}}">
      </div>
      <mat-form-field
        class="nameInputLogin">
        <input #username
               type="text"
               matInput
               class="nameInput"
               placeholder="Enter Name...">
      </mat-form-field>
      <mat-form-field
        class="nameInputLogin">
        <input #email
               type="text"
               matInput
               class="mailInput"
               placeholder="Enter E-Mail...">
      </mat-form-field>
      <mat-form-field>
        <input #password
          class="passInputLogin"
          matInput placeholder="Enter a password"
          [type]="hide ? 'text' : 'password'">
        <mat-icon matSuffix (click)="hide = !hide">
          {{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input #password2
          class="passInputLogin"
          matInput placeholder="Reenter password"
          [type]="hide ? 'text' : 'password'">
        <mat-icon matSuffix (click)="hide = !hide">
          {{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
      </mat-form-field>
      <div
        class="createUser"
        fxLayoutAlign="center">
        <button
          mat-raised-button
          color="primary"
          class="createBtn"
          (click)="onSubmitCreate(username.value, password.value, email.value, password2.value)">CREATE
        </button>
      </div>
    </form>
  </div>
</div>
