<div class="container">
  <form
    [formGroup]="messageForm"
    fxFill="100"
    fxLayout="row"
    fxLayoutAlign="center center">
    <mat-form-field class="inputChat"
                    appearance="standard">
      <mat-label>Message To Send</mat-label>
      <input matInput placeholder="" formControlName="message" (keyup)="isMessage()" #input class="msgSend">
    </mat-form-field>
    <span class="spacer"></span>
    <button [disabled]="isDisabled" class="msgBtn" (click)="send()">Send Message</button>

    <span class="spacer"></span>
      <div class="file_input">
        <label class="mat-icon-button"
               fxLayoutAlign="center center">
          <i class="material-icons"
          fxLayoutAlign="center center">cloud_upload</i>
          <input id="file_input_file" class="none" type="file" (change)="uploadFile($event)" accept="image/*"/>
        </label>
      </div>

  </form>
</div>
