//Container for the Textfield and Button
.container {
  width: 99.25%
}

//Creates space between objects
.spacer {
  margin: 10px;
}

//Textfield focued or not focused
.inputChat {
  width: 90%
}

//Send Button - hovered
.msgSend:hover {
  color: white;
  background: #7F95D1;
}

.msgBtn:disabled {
  background: darkgray;
}

//Send Button - not hovered
.msgBtn {
  color: white;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  background: #35B7AE;
  width: 15%;
  height: 40px;
  border-radius: 10px;
}

//Colors for the Textfield - not focused
::ng-deep .mat-form-field {
  .mat-input-element {
    color: #35B7AE;
  }
  .mat-form-field-label {
    color: Black;
  }
  .mat-form-field-underline {
    background-color: #35B7AE;
  }
  .mat-form-field-ripple {
    background-color: #35B7AE;
  }
  .mat-form-field-required-marker {
    color: #35B7AE;
  }
}

//Color for the Textfield - focused
::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: Black;
  }
  .mat-form-field-ripple {
    background-color: #7F95D1;
  }
  .mat-form-field-required-marker {
    color: #7F95D1;
  }
  .mat-input-element {
    color: #7F95D1;
  }
}

.material-icons {
  color: white;
  width: 40px;
  height: 40px;
  background: #35B7AE;
  border-radius: 100%;
}

//Hides "Choose file" button and "What file/No has been chosen"
.none {
  display: none !important;
}
