.container {
  height:70vh;
  border: 1px dotted grey;
}

.messageCard {
  background-color: lightgray;
  padding: 10px;
}

.date, .username{
  color: #35B7AE;
  font-weight: bold;
  font-size: 12px;
}

.message {
  color: black;
  font-size: 12px;
}

.imgUserPic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

