<div class="container">
  <mat-card>
    <mat-card-content fxLayout="row">
      <img fxLayout="column"
           fxLayoutAlign="center center"
           class="imgUserPic"
           src="assets/imgs/Chattylogo.png"
           alt="UserLogo">
      <span fxLayout="column" fxFlex="auto" class="msgData" fxLayoutGap="10px">
        <span fxLayout="row" fxLayoutAlign="space-between">
          <span class="username">Username</span>
          <span class="date">Dato</span>
        </span>
        <span class="message">
          Besked
        </span>
      </span>
    </mat-card-content>
  </mat-card>
</div>

