<div class="container"
     fxLayout="column">
  <div>
    <mat-card class="messageCard"
              fxLayout="column">
      <div fxLayout="row"
           fxLayoutAlign="start center">
        <span fxFlex="7.8%"></span>
        <mat-card-content>
          <a class="username">
            BRUGERNAVN
          </a>
        </mat-card-content>
        <span fxFlex="1 auto"></span>
        <div fxLayoutAlign="end">
          <mat-card-content>
            <a class="date">
              DATO/TID
            </a>
          </mat-card-content>
        </div>
      </div>
      <mat-card-content>
        <span fxFlex="1%"></span>
        <mat-card-content
          fxLayoutAlign="start center"
          fxLayout="space-between">
          <img fxLayout="column"
               fxLayoutAlign="center center"
               class="imgUserPic"
               src="assets/imgs/Chattylogo.png"
               alt="UserLogo">
        </mat-card-content>
        <span fxFlex="4%"></span>
        <a class="message">BESKED HER</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>

