// Message Content
.date, .username{
  color: #35B7AE;
  font-weight: bold;
  font-size: 14px;
}

//The message
.message {
  color: black;
  font-size: 12px;
}

//Data in a message
.msgData {
  margin-left: 15px;
}

// Image User Avatar
.imgUserPic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

//Unclicked picture - Size
.imgSmall {
  height: 25px;
}

//Clicked picture - Size
.imgBig {
  height: 250px;
}
