.container {
  margin-top: 15px;
}

.avatarLogo {
  height: 300px;
  border-radius: 100%;
  border: 1px solid black;
}

.material-icons {
  color: white;
  width: 40px;
  height: 40px;
  background: #35B7AE;
  border-radius: 100%;
}
